@page
@model QuizNight.XmlDataResultModel
@{
    ViewData["Title"] = "XmlDataResult";
}

<h2>XmlDataResult</h2>
<div class="form-group">
    <div class="input-group" style="align-content:center">
        @*@foreach (var cat in Model.QuizAnswersList)
        {
        <table>
            <tr>ID
                <td>
                    @cat.Id
                </td>
            </tr>

            <tr>Name
                <td>
                    @cat.Name
                </td>
            </tr>

            <tr>Question
                <td>
                    @cat.Question
                </td>
            </tr>
        </table>
            

        }*@


    </div>
</div>

